@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        background-color: #eff6ff;
        color: black;
    }

    #editor {
        scrollbar-width: thin;
    }

    #editor::-webkit-scrollbar {
        width: 0.25rem;
        height: 0.5rem;
    }

    #editor::-webkit-scrollbar-track {
        background: #ffffff;
    }

    #editor::-webkit-scrollbar-thumb {
        background: #2563eb;
        border-radius: 0.25rem;
    }
}

@layer components {

    .inputField {
        @apply p-2 pl-4 focus:outline-none focus:ring-1 focus:ring-blue-600 focus:border-transparent rounded-sm;
    }

    .inputFieldData {
        @apply p-2 pl-4 focus:outline-none focus:ring-1 focus:ring-blue-600 focus:border-transparent rounded-sm;
    }

    .inputFieldCustom {
        @apply p-2 pl-4 bg-white focus:outline-none focus:ring-1 focus:ring-blue-600 focus:border-transparent rounded-sm w-20;
    }

    .fileImageLable {
        @apply bg-white rounded-md px-4 py-2 flex flex-row items-center gap-2 mt-2 cursor-pointer;
    }

    .itemCenterGap {
        @apply items-center gap-2;
    }

    .flexRow {
        @apply flex flex-row;
    }
}